---
import Polka from "@components/base/Polka.astro";
import Card from "@components/base/Card.astro";
---

<div x-cloak class="relative overflow-hidden" x-intersect="activeStep = ''">
  <div x-data="swiper()" class="carousel-container">
    <div class="carousel-controls flex items-center justify-end mb-4">
      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300" @click="swiper.slideNext()">
        <i class="iconify" data-icon="lucide:arrow-right"></i>
      </button>
      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300" @click="swiper.slidePrev()">
        <i class="iconify" data-icon="lucide:arrow-left"></i>
      </button>

    </div>
    <div class="swiper-container" x-ref="container">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans items-stretch">
              <img
                src="/img/clinic/1.jpg"
                alt="דר סמי מרפאת שיניים"
              />
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <img
                src="/img/clinic/2.jpg"
                alt="דר סמי מרפאת שיניים"
              />
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <img
                src="/img/clinic/3.jpg"
                alt="דר סמי מרפאת שיניים"
              />
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <img
                src="/img/clinic/4.jpg"
                alt="דר סמי מרפאת שיניים"
              />
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <img
                src="/img/clinic/5.jpg"
                alt="דר סמי מרפאת שיניים"
              />
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <img
                src="/img/clinic/6.jpg"
                alt="דר סמי מרפאת שיניים"
              />
            </div>
          </Card>
        </div>
      </div>
    </div>
  </div>
</div>
