---
import Container from "@components/section/Container.astro";
import Logo from "@components/base/Logo.astro";
---

<footer class="font-sans bg-white dark:bg-muted-900">
  <div class="border-t border-muted-200 dark:border-muted-800">
    <Container>
      <div class="px-5 py-8 flex flex-col md:flex-row mx-auto items-center">
        <span
          class="inline-flex ltablet:ml-auto lg:ml-auto md:mt-0 mt-6 w-full justify-center md:justify-start md:w-auto"
        >
          <a
            href="/"
            class="flex items-center justify-center md:justify-start gap-3 mb-4"
          >
            <div class="text-primary-600 transition-all duration-300">
              <Logo class="'w-9 h-9'" />
            </div>
            <span
              class="font-sans text-lg tracking-widest uppercase text-muted-800 dark:text-muted-100"
              >ד"ר סמי</span
            >
          </a>
        </span>
        <div
          class="w-full ltablet:w-auto lg:w-auto flex flex-col md:flex-row items-center justify-center md:justify-start gap-y-2"
        >
          <a href="tel:036724060">
            <button
              class="w-full md:w-auto h-10 inline-flex items-center justify-center text-white bg-primary-600 border-0 py-2 px-6 focus:outline-none hover:bg-primary-700 rounded-lg"
              >צור קשר</button
            >
          </a>
        </div>
      </div>
    </Container>
  </div>

  <div class="bg-muted-100 dark:bg-muted-800">
    <Container>
      <div class="py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p
          class="text-muted-500 dark:text-muted-400 text-sm text-center sm:text-left"
        >
          © 2018-{new Date().getFullYear()} כל הזכויות שמורות ל
          <a
            href=""
            class="hover:text-primary-500"
            target="_blank"
            rel="noopener noreferrer">ד"ר סמי</a
          >
        </p>
        <!--
        <span
          class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-muted-500 dark:text-muted-400 text-sm"
          >Built with <a href="https://astro.build" class="hover:text-primary-500"
            >Astro.build</a
          >
        </span>
         -->
      </div>
    </Container>
  </div>
</footer>
